body {
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

tr:hover:not(.first) {
  background-color: #dedcee;
  cursor: pointer;
  color: darkblue;
}

.btn_qna {
  margin-top: 20px;
  /* margin-left: 0px auto; */
}

.btn_write {
  display: inline-block;
  margin-left: 0px auto;
}
