/* div {
  margin: 20px auto;
  padding: 10px 0 30px 0;
} */

/* .h2,
.detail_table table,
.detail_btn {
  display: flex;
  justify-content: center;
}

.detail_table table,
.detail_table tr,
.detail_table th {
  border: 1px solid #6a60a9;
  text-align: center;
  padding: 6px;
}

.detail_table td {
  width: 100%;
}
.detail_table tr {
  width: 60%;
}

.detail_table th.sec1 {
  background-color: #dedcee;
}

.detail_table input,
.detail_table textarea {
  width: 100%;
}

.detail_btn {
  display: flex;
  border: none;
  outline: none;
  height: 40px;
  font-weight: bold;
}

.detail_btn enter,
.detail_btn reset:hover {
  background-color: #dedcee;
  cursor: pointer;
} */

.qna_detail h2 {
  margin: 20px auto;
  padding: 10px 0 30px 0;
}

.detail_table {
}

.detail_table.th {
}
